[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
autoflake = "*"
isort = "*"
coverage = "*"

[packages]
click = "*"
pandas = "*"

[requires]
python_version = "3.7"
